#content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.heroi{
    width: 517px;
    height: 494px; 
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    overflow: auto;
    
    
    
    
}

.foto{
    width: 150px;
    height: 280px;
    padding: 20px;
    border-radius: 30px;
    overflow: auto;
}

.nome{
    position: relative;
    width:226px;
    height: 150px;
    
    
    
}